<footer>
    <div class="container">
        <div class="footer-row flex-row align-items-center">
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a title="en-US" href="/en-US" i18n="@@footer-c_en-US">US English</a>
            &nbsp;&nbsp;|&nbsp;&nbsp;
            <a title="fr" href="/fr" i18n="@@footer-c_fr">French</a>
            &nbsp;&nbsp;|&nbsp;&nbsp;
            <a title="de" href="/de" i18n="@@footer-c_de">German</a>
            &nbsp;&nbsp;|&nbsp;&nbsp;
            <a title="ja" href="/ja" i18n="@@footer-c_ja">Japan</a>
            &nbsp;&nbsp;|&nbsp;&nbsp;
            <a title="Dashboard" href="dashboard" i18n="@@footer-c_dashboard">Dashboard</a>
        </div>
    </div>

    <p>&nbsp;</p>

</footer>
