<footer>
    <div class="container">
        <div class="footer-row flex-row align-items-center">
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a title="en-US" routerLink="/en-US" i18n="@@footer-c_en-US">US English</a>
            &nbsp;&nbsp;|&nbsp;&nbsp;
            <a title="fr" routerLink="/fr" i18n="@@footer-c_fr">French</a>
            &nbsp;&nbsp;|&nbsp;&nbsp;
            <a title="de" routerLink="/de" i18n="@@footer-c_de">German</a>
            &nbsp;&nbsp;|&nbsp;&nbsp;
            <a title="ja" routerLink="/ja" i18n="@@footer-c_ja">Japan</a>
        </div>
    </div>
</footer>
